{{ define "content" }}
<div class="w-full mt-8 w-3/4 mx-auto">
  <form class="flex flex-col" action="/task/create" method="post">
    <h1 class="text-center text-2xl font-light">Opret opgave</h1>

    <p class="text-gray-600 ml-1 mt-8">Opgavens titel</p>
    <input type="text" name="title" placeholder="Opgavens titel" class="focus:outline-none border rounded p-1 mt-1"
           autofocus="autofocus" required>

    <p class="text-gray-600 ml-1 mt-8">Beskrivelse</p>
    <textarea name="description" placeholder="Beskrivelse" class="focus:outline-none border rounded p-1 mt-1 h-48"
              required></textarea>

    <p class="text-gray-600 ml-1 mt-8">Hvor ofte skal opgaven udføres?</p>
    <div class="flex">
      <input type="number" name="intervalSize" placeholder="0" class="focus:outline-none border rounded p-1 w-1/5">
      <select name="intervalUnit" class="focus:outline-none grow ml-2 bg-white border rounded">
        <option value="onetime">Engangsopgave</option>
        <option value="day">Dag</option>
        <option value="week">Uge</option>
        <option value="month">Måned</option>
      </select>
    </div>

    <p class="text-gray-600 ml-1 mt-8">Tildelt person</p>
    <select name="assignee" class="focus:outline-none grow h-8 bg-white border rounded">
      <option value=""></option>
      {{ range .members }}
      <option value="{{ .ID }}">{{ .Name }}</option>
      {{ end }}
    </select>

    <div class="flex mt-8 items-center">
      <input type="checkbox" name="rotatingAssignee" class="flex-none h-5 w-5 appearance-none border border-gray-300 rounded bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 align-top bg-no-repeat bg-center bg-contain float-left cursor-pointer">
      <p class="ml-2">Roter tildeling af medlemmer</p>
    </div>
    <p class="text-sm mt-2">Rotering af medlemmer tildeler en ny person fra gruppen, hver gang opgaven er udført.</p>

    <button type="submit" class="bg-pink-400 px-1 py-2 rounded mt-8">Opret opgave</button>
  </form>
</div>
{{ end }}
