{{define "content"}}
{{ if not .groupID }}
<div class="px-8 mt-8 text-center">
  <p class="text-lg">Du er ikke i et team!</p>
  <p class="mt-4"><a href="/group/create" class="text-violet-500">Opret ny gruppe</a>, eller klik på et invitations-link
    for at blive
    medlem af en eksisterende gruppe.</p>
</div>
{{ else }}
<div class="flex flex-col w-full px-4 mt-8">
  {{ if .tasks }}
  <div class="flex flex-col space-y-6">
    {{ range .tasks }}
    <div class="border border-pink-300 rounded-md bg-white px-4 py-2 flex flex-col">
      <h1 class="text-lg">{{ .Title }}</h1>
      <p class="mt-2">{{ .Description }}</p>
      <form action="/task/{{ .ID }}/delete" method="post" class="ml-auto">
        <button type="submit" class="mt-2 text-pink-600">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg>
        </button>
      </form>
    </div>
    {{ end }}
  </div>
  {{ else }}
  <div class="flex flex-col text-center px-4">
    <p class="text-lg">Du har ingen opgaver!</p>
    <p class="mt-4">Opret din første opgave ved at trykke på krydset, nederst til højre!</p>
  </div>
  {{ end }}
</div>
<div class="absolute bottom-0 w-full">
  <div class="flex flex-col">
    <a href="/task/create" class="p-2 bg-pink-500 ml-auto rounded-full text-white m-3">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4"/>
      </svg>
    </a>
  </div>
</div>
{{ end }}
{{ end }}
