{{ define "content" }}
<div class="w-full">
    <div class="flex flex-col text-center w-3/4 mx-auto">
        <h1 class="text-2xl mt-16 font-light">Log ind</h1>
        <input type="email" placeholder="Email" class="focus:outline-none rounded border p-1 mt-4" autofocus="autofocus" required>
        <input type="password" placeholder="Password" class="focus:outline-none rounded border p-1 mt-4" required>
        <p class="text-sm mt-4">Ingen bruger? <a class="text-violet-500" href="/register">Opret ny</a></p>
        <button class="bg-pink-300 px-1 py-2 rounded mt-4">Log ind</button>
    </div>
</div>
{{ end }}
