{{ define "content" }}
<div class="mt-8 w-3/4 mx-auto flex flex-col">
  <h1 class="text-center text-2xl font-light">Notifikationsindstillinger</h1>
  {{ if .telegramActive }}
  <p class="mt-8 text-center">Telegram er <span class="font-semibold">forbundet</span> 👍</p>
  <a href="/telegram/disconnect" class="text-violet-500 text-center" onclick="alert('Funktionen er ikke implementeret endnu, men er på vej!')">Afbryd forbindelse</a>
  {{ else }}
  <p class="mt-8 text-center">Telegram er <span class="font-semibold">ikke forbundet.</span></p>
  <p class="mt-1 text-sm text-center">Forbind med <a href="https://t.me/TaskerooBot" class="text-violet-500">TaskerooBot</a></p>
  {{ end }}
</div>
{{ end }}
