{{ define "content" }}
<div class="w-full mt-8 flex flex-col items-center">
  <p>Hej, {{ .profile.Name }} 👋</p>
  {{ if .profile.GroupID }}
  <p class="mt-8">Medlem af <span class="font-semibold">{{ .profile.GroupName }}</span></p>
<!--  <a href="/group/leave" class="text-violet-500">Forlad gruppen</a>-->
    <a onclick="leaveGroup()" class="text-violet-500">Forlad gruppen</a>
  {{ else }}
  <p class="mt-8">Du er ikke medlem af en gruppe.</p>
  <a href="/group/create" class="text-violet-500">Opret gruppe</a>
  {{ end }}
  <a href="/logout" class="text-violet-500 mt-8">Log ud</a>
</div>

<script>
  function leaveGroup() {
    let result = confirm("Er du sikker på du vil forlade gruppen?")
    if (!result) {
      return
    }
    let resp = fetch("/profile/leave-group", {
      method: "POST",
    })
    resp.then(r => {
      if (r.ok) {
        location.reload()
      }
    })
  }
</script>
{{ end }}