{{ define "content" }}
<div class="w-full">
  <div class="w-3/4 mx-auto">
    <form action="/register" method="post" class="flex flex-col">
      <h1 class="mt-16 text-2xl font-light text-center">Opret bruger</h1>
      <p class="mt-4 ml-1 text-gray-600">Email</p>
      <input type="email" name="email" placeholder="Email" class="border rounded p-1 mt-1"
             autofocus="autofocus" required>
      <p class="mt-4 ml-1 text-gray-600">Password</p>
      <input type="password" id="password" name="password" placeholder="Password" class="border rounded p-1 mt-1"
             required>
      <p class="mt-4 ml-1 text-gray-600">Gentag password</p>
      <input type="password" id="repeated-password" placeholder="Password"
             class="border rounded p-1 mt-1"
             required>

      <button class="bg-pink-300 px-1 py-2 rounded mt-8">Opret bruger</button>
    </form>
  </div>
</div>
{{ end }}
